* {
    margin: 0;
    white-space: nowrap;
}

ul {
    list-style-type: none;
}

li {
    background-color: silver;
    border: white 2px solid;
    border-right: none;
    border-bottom: none;
    transition: 0.2s;
    width: auto;
    min-width: 300px;
}

li:hover {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(170, 170, 170);
}

span {
    height: 100%;
}

body {
    float: left;
    min-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: silver;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

#everything {
    padding: 0;
}

.closed, .unopened, .open {
    cursor: pointer;
    user-select: none;
}

.closed::before, .unopened::before, .open::before {
    content: "+";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.open::before {
    content: "-";
}

.nested {
    display: none;
}

.active {
    display: block;
}