ul {
    list-style-type: none;
}

li {
    background-color: silver;
    border: white 2px solid;
    transition: 0.2s;
}

li:hover {
    padding-top: 1px;
    padding-bottom: 1px;
}

span {
    height: 100%;
}

.closed, .unopened, .open {
    cursor: pointer;
    user-select: none;
}

.closed::before, .unopened::before, .open::before {
    content: "+";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.open::before {
    content: "-";
}

.nested {
    display: none;
}

.active {
    display: block;
}