ul {
    list-style-type: none;
}

li {
    background-color: red;
    border: black 2px solid;
}

.closed, .unopened, .open {
    cursor: pointer;
    user-select: none;
}

.closed::before, .unopened::before, .open::before {
    content: "+";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.open::before {
    content: "-";
}

.nested {
    display: none;
}

.active {
    display: block;
}